<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>yupagumi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type=”image/png” href="../../public/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="../public/item.css">
  <!-- <link rel="stylesheet" type="text/css" href="../public/item.css"> -->
  </head>

  <body>
    <header>

        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg fixed-top" id="navbar">
            <div class="container">
            <!-- <a class="navbar-brand" href="#">
        <img src="logoYuli.png" alt="logo" style="width:300px;"></a> -->
            <a class="navbar-brand" href="/">Muebles Yupagumi</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/producto">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#ci1">Quienes Somos?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#sg2">Nuestro Catalogo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#sg3">Refacción</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#sg4">¿Por qué elegirnos?</a>
                </li>
              </ul>
            </div>
            </div>
        </nav>
        </header>
<br>
<br>
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Portfolio Item
        <small>Subheading</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img data-enlargable style="cursor: zoom-in" class="img-fluid" src="https://imgur.com/3UgNGI6.jpg">
        </div>

        <div class="col-md-4" id="descrip">
          <h3 class="my-3">Descripcion:</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h2 class="my-3">$10.000</h2>

          <button type="button" class="btn btn-outline-dark"  href="#" style="width:300px; height:50px">Realizar Pedido</button>
        </div>
      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Productos similares</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://imgur.com/3UgNGI6.jpg">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://imgur.com/3UgNGI6.jpg" >
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://imgur.com/3UgNGI6.jpg">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://imgur.com/3UgNGI6.jpg">
          </a>
        </div>

      </div>

    </div>
    <div class="container">
      <hr>
        <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <h4>¿No encuentras lo que quieres?</h4>
          <p>Cuentanos como es el mueble de tus sueños o envianos una foto. Diseños bajo pedido.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="/Pedido">Pedido Online</a>
          <a class="btn btn-lg btn-secondary btn-block" href="https://api.whatsapp.com/send?phone=573137143047&text=Hola!" style="background-color:#128c7e">Contactar WhatsApp</a>

        </div>
      </div>

    </div>
      <!-- Footer -->
      <footer class="py-5 container-fluid" style="background-color:#EAEDED;">
        <p><h2 class="m-0 text-center">Muebles Yupagumi</h2></p>
        <p><h3 class="m-0 text-center">Línea de atención al cliente: <a style="color: black;"href="https://api.whatsapp.com/send?phone=573137143047&text=Hola!">3137143047</a></h3></p>
        <p><h3 class="m-0 text-center">Correo de contacto:<i> mueblesyupagumi@gmail.com</i></h3></p>
      </footer>
      <script src="../public/item.js"></script>

  </body>
</html>
