.carousel-inner img {
  width: 100%;
  height: 100%;
}
.grow:hover
{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
z-index: 100;
}
.navbar {
  transition: all .5s;
}
.navbar:hover {
  background-color:#FFF;
}
.navbar:hover a,.navbar a{
  color:#000;
}
.collapse:hover,.navbar-brand {
  color:#000;
}
.navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=000');
}
ul.navbar-nav a:hover {
  color:#000;
  font-weight: bolder;
}
/* ul.navbar-nav li {
  display:inline-block;
  padding:10px;
} */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #AEB6BF;
}
#descrip{
  background-color: #E5E8E8;
}
a.btn-outline-dark, button.btn{
  background-color: #FFF;
  text-align: center;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #AEB6BF;
}
